.albumsIndex {
    width: 80%;
    margin-top: 60px;
    font-family: FaseBulan ;
    background-color: #0a3660e9;
    border-radius: 15px;
    display: grid;
    justify-items: center;
}

.albumsIndex h1 {
    margin-bottom: 50px;
    font-family: AttackGraffiti;
    letter-spacing: 4px;
    color: #74abe2;
    text-shadow: black 2px 2px 2px;
    width: 60%;
    height: fit-content;
    padding: 5px;
    background: linear-gradient(to right, #bdc3c7, #2c3e50);

}

.albums {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    row-gap: 20px;
}

.album h2 {
    font-size: 30px;
    color: #acc8d7;
    margin: 7px;
    letter-spacing: 1px;
}

.album p {
    color: #000001;
    font-size: 20px;
}

.album img {
    height: 120px;
}