
.index {
    width: 80%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .3fr auto;
    justify-items: center;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #008d97c0;
    text-shadow: rgb(3, 3, 87) 3px 2px 2px;
}

.index h1 {
    grid-row: 1;
    font-family: AttackGraffiti;
    font-size: 50px;
    letter-spacing: 8px;
    
}

.index .song {
    height: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    color: yellow;
    font-size: 18px;
    /* font-family: FaseBulan; */
    font-family: BouncyThin;
    letter-spacing: 2px;
}

.index a {
    color: #FC4C02;
}
.index a:hover {
    transform: scale(1.2);
}