
.center-page {
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
}

.background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cursor:hover {
    cursor: pointer;
}

.edit, .new {
    display: grid;
    grid-template-columns: .25fr 1fr;
    margin-top: 40px;
    width: 80%;
}

.form-aside {
    grid-column: 1;
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    border-radius: 15px;
}

@keyframes beat {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
  }

  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }

  @keyframes rain{
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 20% 100%;
    }
}